* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
/* Hero code */
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px 300px 125px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8
}

.nav {
    list-style: none;
    display: flex;
    gap: 24px;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-evenly;
}

.hero-content-text {
    flex: 1;
    margin-right: 16px;
}

.hero-content-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-content-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
}

.placeholder-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

/* Main body code */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.main h1 {
    padding: 32px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.content {
    display: flex;
}

.content-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.subtext {
    text-align: center;
    width: 150px;
    padding: 8px 0;
}

.content-placeholder-image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    flex: auto;
}

/* Quote code */
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 350px;
}

.quote-text {
    min-width: 400px;
}

.quote-text p {
    font-size: 36px;
    font-weight: 100;
    min-width: 400px;
}

.author {
    align-self: flex-end;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    min-width: 292px;
}

/* Sign up code */
.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    margin: 100px 200px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    min-width: 310px;
}

.signup-message {
    flex: 2;
}

.signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
}

.signup-button button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 12px 24px;
}

.signup-message h4 {
    font-size: 20px;
    padding-bottom: 8px;
}

.signup-message p {
    color: #E5E7EB;
}

/* Footer code */
.footer {
    display: flex;
    margin-top: auto;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 50px;
}


